<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LiveEmailEnvironment" value="0" />
		<add key="HangfireType" value="S" />
		<add key="RecurringJobsEnabled" value="0" />
		<!--0 = No, 1 = Yes-->
	</appSettings>
	<connectionStrings>
		<add name="MailerDb" connectionString="Data Source=localhost;Initial Catalog=IPayDevhf;Persist Security Info=True;User ID=root; Password=root;" providerName="System.Data.SqlClient" />
		<add name="HangfireRedis" connectionString="localhost" />
		<!--<add name="ConnString" connectionString="Data Source=ec2-35-181-92-61.eu-west-3.compute.amazonaws.com:1521/EPADEVDB;User ID=ipaystgmar19;Password=ipaystgmar19;Pooling=true;Min Pool Size=3;Max Pool Size=10" providerName="Oracle.ManagedDataAccess.Client" />
		<add name="ConnOTC" connectionString="Data Source=ec2-35-181-92-61.eu-west-3.compute.amazonaws.com:1521/EPADEVDB;User ID=otcstgmar19;Password=otcstgmar19;Pooling=true;Min Pool Size=3;Max Pool Size=10" providerName="Oracle.ManagedDataAccess.Client" />
		<add name="elmahConnString" connectionString="Data Source=VM;User ID=elmahtest;Password=elmahtest;Pooling=true;Min Pool Size=3;Max Pool Size=10" providerName="Oracle.DataAccess.Client" />-->
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>